page-topicality {
  .contentBanner{
    margin-top: 0px;
    background: url("../../assets/imgs/banniere-3-1024x149.jpg") center no-repeat;
    height:150px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
  }

  ion-card{
    .date{
      color: rgb(76,175,222);
    }
    .title{
      color: rgb(76,175,222);
      text-transform: uppercase;
      font-weight: bold;
    }
    .text{
      color: grey;
      display: block;
      display: -webkit-box;
      max-width: 400px;
      max-height: 60px;
      min-height:40px;
      margin: 0 auto;
      line-height: 1.4;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .debArticle2{
      height:40px !important;
      position: relative;
      z-index: 1;
      margin-top:-40px;
      background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0),white) !important; /* Standard syntax */
    }
  }
}
