<!-- Generated template for the PartenaireComponent component -->
<div id="global">
  <h2>PARTENAIRES</h2>
  <ion-scroll scrollX="true">

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerPart">
          <h2>XENIOS</h2>
          <img class="logo" src="../../assets/imgs/logo-xenios.jpg">
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerPart">
          <h2>FRESENIUS MEDICAL CARE</h2>
          <img class="logo" src="../../assets/imgs/Fresenius-Medical-Care.jpg">
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerPart">
          <h2>ICU</h2>
          <img class="logo" src="../../assets/imgs/icu-medical-logo.jpg">
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerPart">
          <h2>INTERSURGICAL</h2>
          <img class="logo" src="../../assets/imgs/INTERSURGICAL_GREEN_GREY_FR.jpg">
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerPart">
          <h2>ALLP</h2>
          <img class="logo" src="../../assets/imgs/logo-allp.jpg">
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerPart">
          <h2>FISHER & PAYKEL</h2>
          <img class="logo" src="../../assets/imgs/Logo-Fisher-Paykel-FP_Master.jpg">
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerPart">
          <h2>GE</h2>
          <img class="logo" src="../../assets/imgs/LOGO-GE-HEALTHCARE.jpg">
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerPart">
          <h2>AVANOS</h2>
          <img class="logo" src="../../assets/imgs/Logo-Halyard-∆V∆NOS_logo_Process_Black_with-safe-area.jpg">
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerPart">
          <h2>PFIZER</h2>
          <img class="logo" src="../../assets/imgs/logo-pfizer.jpg">
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerPart">
          <h2>VYGON</h2>
          <img class="logo" src="../../assets/imgs/LOGO-VYGON.jpg">
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerPart">
          <h2>DORAN</h2>
          <img class="logo" src="../../assets/imgs/Logo-Doran.jpg">
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerPart">
          <h2>FRESENIUS KABI</h2>
          <img class="logo" src="../../assets/imgs/Fresenius-Kabi.jpg">
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerPart">
          <h2>GETINGE</h2>
          <img class="logo" src="../../assets/imgs/Getinge_Logo_hz_RGB.jpg">
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerPart">
          <h2>AEROGEN</h2>
          <img class="logo" src="../../assets/imgs/aerogen.jpg">
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerPart">
          <h2>SOS OXYGENE</h2>
          <img class="logo" src="../../assets/imgs/SOS-Oxygene.jpg">
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerPart">
          <h2>PHILIPS</h2>
          <img class="logo" src="../../assets/imgs/phillips.jpg">
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerPart">
          <h2>MSD</h2>
          <img class="logo" src="../../assets/imgs/MSD.jpg">
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerPart">
          <h2>IST CARDIOLOGIE</h2>
          <img class="logo" src="../../assets/imgs/IST-Cardiologie.jpg">
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerPart">
          <h2>BAXTER</h2>
          <img class="logo" src="../../assets/imgs/Baxter.jpg">
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerPart">
          <h2>AIR LIQUIDE</h2>
          <img class="logo" src="../../assets/imgs/Air-Liquide.jpg">
        </div>
      </ion-card-content>
    </ion-card>

  </ion-scroll>
</div>
