<!-- Generated template for the ComiteComponent component -->
<div id="contentComite" padding>
  <h2>COMITÉ SCIENTIFIQUE</h2>
  <ion-scroll scrollX="true">
    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerProfil">
          <img class="profil" src="../../assets/imgs/Photo-BS-e1531322411489-768x1024.jpg">
          <img class="profilLogo"  src="../../assets/imgs/hospices-lyon.jpg">
          <div class="nameTitle">BERTRAND SOUWEINE</div>
          <div class="descriptionName">Réanimation Médicale - C.H.U. Clermont-Ferrand</div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerProfil">
          <img class="profil" src="../../assets/imgs/Photo-CS-e1531322400404.jpg">
          <img class="profilLogo"  src="../../assets/imgs/logoCHU-GRENOBLE-1.jpg">
          <div class="nameTitle">CAROLE SCHWEBEL</div>
          <div class="descriptionName">Réanimation Médicalen - C.H.U. Grenoble</div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerProfil">
          <img class="profil" src="../../assets/imgs/Photo-FZ-1024x983.jpg">
          <img class="profilLogo"  src="../../assets/imgs/hospices-lyon.jpg">
          <div class="nameTitle">FABRICE ZENI</div>
          <div class="descriptionName">Réanimation Médicale - C.H.U. St Étienne</div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerProfil">
          <img class="profil" src="../../assets/imgs/Photo-NT-768x1024.jpeg">
          <img class="profilLogo"  src="../../assets/imgs/logoCHU-GRENOBLE-1.jpg">
          <div class="nameTitle">NICOLAS TERZI</div>
          <div class="descriptionName">Réanimation Médicale - C.H.U. Grenoble</div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerProfil">
          <img class="profil" src="../../assets/imgs/Photo-AL-e1531321585701-576x1024.jpg">
          <img class="profilLogo"  src="../../assets/imgs/Logo-centre-jean-perrin.jpg">
          <div class="nameTitle">ALEXANDRE LAUTRETTE</div>
          <div class="descriptionName">Réanimation Médicale - Centre Jean Perrin, Clermont-Ferrand
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerProfil">
          <img class="profil" src="../../assets/imgs/MARIO-GALLI-AMG-ARCHITECTE-4008-1-1024x683.jpg">
          <img class="profilLogo"  src="../../assets/imgs/Loho-CH-Roanne-1024x724.jpg">
          <div class="nameTitle">PASCAL BEURET</div>
          <div class="descriptionName">Réanimation Polyvalente - C.H.R., Roanne</div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerProfil">
          <img class="profil" src="../../assets/imgs/MARIO-GALLI-AMG-ARCHITECTE-4004-1-1024x683.jpg">
          <img class="profilLogo"  src="../../assets/imgs/hospices-lyon.jpg">
          <div class="nameTitle">JULIEN BOHE</div>
          <div class="descriptionName">Réanimation Médicale - Centre Hospitalier, Lyon Sud</div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerProfil">
          <img class="profil" src="../../assets/imgs/MARIO-GALLI-AMG-ARCHITECTE-4036-1024x683.jpg">
          <img class="profilLogo"  src="../../assets/imgs/hospices-lyon.jpg">
          <div class="nameTitle">DOMINIQUE ROBERT</div>
          <div class="descriptionName">Réanimation Médicale - Hôpital Edouard Herriot, Lyon</div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerProfil">
          <img class="profil" src="../../assets/imgs/MARIO-GALLI-AMG-ARCHITECTE-4002-2-1024x683.jpg">
          <img class="profilLogo"  src="../../assets/imgs/hospices-lyon.jpg">
          <div class="nameTitle">ROMAIN HERNU</div>
          <div class="descriptionName">Réanimation Médicale - Hôpital Edouard Herriot, Lyon</div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerProfil">
          <img class="profil" src="../../assets/imgs/MARIO-GALLI-AMG-ARCHITECTE-4032-2-1024x683.jpg">
          <img class="profilLogo"  src="../../assets/imgs/hospices-lyon.jpg">
          <div class="nameTitle">LAURENT ARGAUD</div>
          <div class="descriptionName">Réanimation Médicale - Hôpital Edouard Herriot, Lyon</div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerProfil">
          <img class="profil" src="../../assets/imgs/MARIO-GALLI-AMG-ARCHITECTE-4039-2-1024x683.jpg">
          <img class="profilLogo"  src="../../assets/imgs/hospices-lyon.jpg">
          <div class="nameTitle">MARTIN COUR</div>
          <div class="descriptionName">Réanimation Médicale - Hôpital Edouard Herriot, Lyon</div>
        </div>
      </ion-card-content>
    </ion-card>

  </ion-scroll>
</div>
