<!-- Generated template for the ComiteComponent component -->
<div id="contentComite" padding>
  <h2>COMITÉ SCIENTIFIQUE</h2>
  <ion-scroll scrollX="true">
    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerProfil">
          <img class="profil" src="../../assets/imgs/MARIO-GALLI-AMG-ARCHITECTE-4036-1024x683.jpg">
          <img class="profilLogo"  src="../../assets/imgs/hospices-lyon.jpg">
          <div class="nameTitle">DOMINIQUE ROBERT</div>
          <div class="descriptionName">Réanimation Médicale Hôpital Edouard Herriot, Lyon</div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerProfil">
          <img class="profil" src="../../assets/imgs/MARIO-GALLI-AMG-ARCHITECTE-4036-1024x683.jpg">
          <img class="profilLogo"  src="../../assets/imgs/hospices-lyon.jpg">
          <div class="nameTitle">DOMINIQUE ROBERT</div>
          <div class="descriptionName">Réanimation Médicale Hôpital Edouard Herriot, Lyon</div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="scroll-item">
      <ion-card-content>
        <div class="containerProfil">
          <img class="profil" src="../../assets/imgs/MARIO-GALLI-AMG-ARCHITECTE-4036-1024x683.jpg">
          <img class="profilLogo"  src="../../assets/imgs/hospices-lyon.jpg">
          <div class="nameTitle">DOMINIQUE ROBERT</div>
          <div class="descriptionName">Réanimation Médicale Hôpital Edouard Herriot, Lyon</div>
        </div>
      </ion-card-content>
    </ion-card>

  </ion-scroll>
</div>
