page-who-are-we {
  .contentBanner{
    margin-top: 0px;
    background: url("../../assets/imgs/Sans-titre-4-1024x213.jpg") center no-repeat;
    height:150px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
  }

  .descr{
    background: #f4f4f4;
  }
  .descr h5 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    img{
      max-height: 25px;
      position: relative;
      margin-bottom: -5px;
      margin-left: 5px;
    }
  }

  .contentComite{
    background: #003590;
    padding-bottom: 35px;

    h2{
      color: white;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    img{
      margin-bottom: 20px;
    }
  }

  .histo{
    h2{
      color: #003590;
      margin-top: 15px!important;
      margin-bottom: 25px!important;
      letter-spacing: 2px;
      text-align: center;
    }
    .img{
      background: #f3f3f3;
      height: 60px;
      width: 60px;
      border-radius: 100%;
      border:2px solid  #003590;
    }
    img{
      height: 35px;
      width: 35px;
      margin: calc(50% - 17px);
    }
  }



}
