page-congress {

  .titleMedical {
    letter-spacing: 2px;
    text-align: left;
  }

    ion-card-content{

      background: #f7f7f7;
      text-align: left;
      padding-top: 20px !important;
      color: gray;

      ion-icon{
        margin-left: 10px;
        margin-right: 10px;
      }
      h2{
        font-weight: bold;
        letter-spacing: 2px;
        margin-top: 20px !important;
        margin-bottom: 30px !important;
        text-align: justify;
      }
      h3{
        color: #f39200 !important;
        text-align: center;
      }
      hr{
        margin-bottom: 15px;
      }
    }
  ion-col{
    font-weight: bold;
  }
  .contentBanner{
    margin-top: 0px;
    background: #003590;
    background: url("../../assets/imgs/banniere-1024x143.jpg") center no-repeat;
    height:150px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin-top: -5px;
  }
   button{
     margin-top:45px;
     margin-bottom: 45px;
     font-size: 15px;
     color:white;
     background: #f39200;
     padding: 5px 10px;
     line-height: 1.2;
     position:relative;
     margin-left: calc(50% - 141px);
   }

  .blueCase{
    background: #003590;
    border: 1px solid white;
    color:white;
    height: 85px;
    padding-top: 15px;
  }
  .greenCase{
    background: #17b55e;
    border: 1px solid white;
    color:white;
    height: 85px;
    padding-top: 15px;
  }

  #n1{
    display:block;
  }
  #n2{
    display:none;
    margin-top: 10px;
  }
  #n3{
    display:none;
    margin-top: 10px;
  }
  #n4{
    display:none;
    margin-top: 10px;
  }


  .dateCongres{
    font-size: smaller;
    font-weight: normal;
  }
  .info{
    margin-top: 0px;
    padding-top: 60px;
  }

  .buttonScrollTop{
    background: rgba(243,146,0,0.7);
    font-size: 25px;
    padding: 5px 10px;
    vertical-align: center;
    border-radius: 10%;
    color: white;
    position:fixed;
    right:25px;
    bottom:25px;
  }
}
